/*

Style Guide for UBuletin

Colors:
  #2b4162 blue
  #386f71 teal
  #FFFCF9 off-white
  #DDFFD9 green
  #FF6f61 coral

Font:
  Roboto (to use: font-family: 'Roboto', sans-serif;)

Font Weights:
  300 light
  400 regular
  700 bold

 */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.NavigationBar {
  background-color: #2B4162;
}

#nav-link {
  color: #FFFFFF;
}

#create-button-group {
  padding: 150px;
}
